<div class="text-center">
    <app-loading *ngIf="loading"></app-loading>
</div>
<div class="text-center" *ngIf="questionnaire != null">
    <h4 class="card-title">{{questionnaire.name | uppercase}}</h4>
    <p class="card-text">{{questionnaire.description | uppercase}}</p>

    <hr>
    <div *ngFor="let question of questionnaire.questionList; let i = index" style="margin-bottom: 10px;">
        <div class="card-header">
            <b>{{question.description}}</b>

        </div>
        <ul class="list-group" *ngFor="let answer of question.answerList">
            <li class="list-group-item" [ngClass]="{'list-group-item-success': answer.correctAnswer == true && answerDetail[i].answersId == answer.id, 
                                'list-group-item-danger': answer.correctAnswer == false && answerDetail[i].answersId == answer.id }">
                {{answer.description}} - {{ answer.id}} == {{answerDetail[i].answersId}}
                <span class="material-icons correct" *ngIf="answer.correctAnswer == true && answerDetail[i].answersId == answer.id">
                    check_circle
                </span>
                <span class="material-icons incorrect" *ngIf="answer.correctAnswer == false && answerDetail[i].answersId == answer.id">
                    highlight_off
                </span>
            </li>

        </ul>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4 offset-lg-4">
            <button class="btn btn-primary btn-lg btn-block" routerLink="/dashboard/estadisticas/{{questionnaire.id}}"> Volver</button>
        </div>
    </div>

</div>