<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Login</h3>

                <app-loading *ngIf="loading"></app-loading>
                <form [formGroup]="loginForm" (ngSubmit)="login()" style="padding-top: 10x;">
                    <div class="form-group" style="text-align: start;">
                        <input class="form-control" formControlName="username" placeholder="Usuario">
                        <span class="text-danger ml-2" *ngIf="loginForm.get('username')?.hasError('required')&& loginForm.get('username')?.touched">
                            *El usuario es <strong>requerido</strong>
                        </span>
                    </div>
                    <!--   *ngIf="loginForm.controls['usuario'].errors?.required">-->
                    <br>
                    <div class="form-group" style="text-align: start;">
                        <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                        <span class="text-danger ml-2" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                            *La Contraseña es <strong>requerida</strong>
                        </span>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-login" style="margin: 8px;">Aceptar</button>
                        <button class="btn btn-secondary" routerLink="/inicio">Regresar</button>
                    </div>
                    <div class="form-group">
                        <a style="color:#F05F44; cursor:pointer" routerLink="/inicio/register">Crear cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>